@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=League+Gothic&family=Manrope&family=Poppins:wght@500&display=swap');

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.inputName {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    width: 70%;
    margin-left: 4em;
}

.inputMail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    width: 70%;
    margin-left: 4em;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    width: 70%;

}