@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=League+Gothic&family=Manrope&family=Poppins:wght@500&display=swap');

.buttonReturn {
  border: none;
  box-shadow: 2px 2px 2px  #666;
  font-size: 1em;
}

.itemDetCont{
  display: flex;
  align-items: center;
  justify-content: center;
}
