@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=League+Gothic&family=Manrope&family=Poppins:wght@500&display=swap');

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(70, 67, 63);

}

.itemImg{
    width: auto;
    height: 300px;
    margin: 1em;
}

.itemInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    border-top: 1px gray solid;
    padding: 1em;
    font-family: 'Manrope', sans-serif
}

.itemTitle {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0%;
    text-decoration: none;
    font-family: 'Manrope', sans-serif
}

.itemPrice{
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0%;
    font-family: 'Manrope', sans-serif
}

.itemAll:hover{
    color: rgb(70, 67, 63);

}

.btn{
    border-radius: 15px;
    border: 1px gray solid;
    background-color: gray;
}

.btn button{
    border-radius: 15px;
    border: 1px gray solid;
    background-color: rgb(24, 24, 24);
    padding: 0.5em 1em 0.5em 1em;
    color: aliceblue;
}

.btn button:hover{
    transform: scale(1.02);
}