.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;  
    border-radius: 20px;
}

.item__img{
    width: auto;
    height:10%;
    margin-top: 2em;
}

.item__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.item__title {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0%;

}

.item__price{
    width: 50%;
    border-left: 2px rgb(238, 0, 0) solid;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0%;
}