@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Square+Peg&family=Tapestry&family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Square+Peg&family=Tapestry&family=Yanone+Kaffeesatz&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=League+Gothic&family=Manrope&family=Poppins:wght@500&display=swap');

.title {
   
    margin-left: 1em;
    text-decoration: none;
    
}

.title h1{
    letter-spacing: 10px;
    text-align: start;
    font-size: 1.5em;
    color: rgb(70, 67, 63);
    font-family: 'Lato', sans-serif;
}


.navbarLink{
    font-size: 1.2em;
    color: rgb(70, 67, 63);
    font-family: 'Lato', sans-serif;
    margin-left: 1em;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.navbarLink:hover {
    border-bottom: 1px rgb(70, 67, 63) solid;
    color: rgb(70, 67, 63);
}

.bg-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}