.product-list-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* flex-direction: row;
    flex-wrap: wrap;     */
    /* justify-content: center; */
    gap: 2em;
}
.loaderInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5em;
}

.loaderInicio img{
    width: 80%;
    height: auto;
}

.cargando{
    display: flex;
    align-items: center;
    justify-content: center;
}